
.container {
    padding:15px;
    background-color: teal;
    margin: 15px;
    
}
.container:hover{
    border-left: 8px  solid tomato;
}
.img{
    width: 32px;
    height: 32px;
    margin-right: 32px;
    border-radius: 16px;
}
.name{
    color: white;
    font-size: 16px;
}